<mat-card>    <!-- users card-->
  <mat-card-header>   <!-- header -->
    <mat-card-title>Users</mat-card-title>    <!-- users title -->
    <span class="spacer"></span>
    <button mat-raised-button color="primary" (click)="openUserForm()">Add New User</button>    <!-- when clicked openUserForm is called-->
  </mat-card-header>

  <mat-card-content id="table-content">   <!-- content -->
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z2">
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef id="title">ID</th>    <!-- column name -->
        <td mat-cell *matCellDef="let user">{{user.id | slice:0:8}}...</td>   <!-- column values -->
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Name</th>   <!-- column name -->
        <td mat-cell *matCellDef="let user">{{user.name}}</td>    <!-- column values -->
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef>Email</th>    <!-- column name -->
        <td mat-cell *matCellDef="let user">{{user.email}}</td>   <!-- column values -->
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="actions">Actions</th>    <!-- column name -->
        <td mat-cell *matCellDef="let user" class="buttons">
          <button mat-icon-button color="primary" (click)="openUserForm(user)" title="Edit User">   <!-- edit button -->
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-icon-button color="warn" (click)="deleteUser(user.id)" title="Delete User">   <!-- delete button -->
            <mat-icon>delete</mat-icon>
          </button>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-error *ngIf="errorMessage">{{errorMessage}}</mat-error>    <!-- errors -->
    <div class="no-data" *ngIf="dataSource.data.length === 0 && !errorMessage">
      No users found. Add a new user to get started!
    </div>
  </mat-card-content>
</mat-card>